.c-pager { display: block; text-align: center; }
.c-pager > *[class*='c-pager__'] { display: inline-block; vertical-align: middle; margin: 4px; }

.c-pager__quote { color: rgba(0, 0, 0, 0.65); font-family: "AvenirNext-Regular"; font-size: 11px; line-height: 15px; }

.c-pager__numbers, .c-pager-current, .c-pager__next { width: 24px; height: 24px; border: 1px solid #EBEBEB; cursor: pointer; font-family: "JosefinSansVN"; line-height: 24px; font-size: 11px; color: rgba(0, 0, 0, 0.85); }

.c-pager-current { color: #fff; background-color: rgba(0, 0, 0, 0.85); border: 1px solid rgba(0, 0, 0, 0.85); }