// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.register-service__btn--fixed {
    display: block;
    position: fixed;
    top: calc(50% - 76px);
    right: 0;
    width: 150px;
    height: 50px;
    padding: 15px 20px;
    background-color: #e41a1a;
    z-index: 1000;

    font-family: 'MyriadPro-Cond';
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    &:hover {
        color: #fff;
    }
}