/// components - button hamburger
.hamburger {
    position: relative;
    display: block;
    width: 33px;
    height: 23px;
    margin-top: 12px;
    z-index: 1000;
    margin-left: 10px;
}

*[class*="hamburger__line--"] {
    display: block;
    width: 32px;
    margin: 0 auto 8px;
    clear: both;
    border: 1px solid #575757;
    @include transition(all 0.3s cubic-bezier(0.25, 0.1, 0.2, 1.18));
}
.hamburger.active [class*="hamburger__line--"] {
    border: 1px solid #575757;
}

.hamburger.active .hamburger__line--two {
    opacity: 0;
}

.hamburger.active .hamburger__line--one {
    @include transform(translateY(5px) rotateZ(45deg));
}

.hamburger.active .hamburger__line--three {
    @include transform(translateY(-5px) rotateZ(-45deg));
}