.social-media--fixed {
    position: fixed;
    z-index: 1000;
    top: 50%;
    right: 0;
    width: 50px;
    @include transform(translateY(-50%));
}

.social-media__item {
    display: block;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    padding: 11px 0;
    clear: both;

    text-align: center;
    &.facebook {
        background-color: #365899;
        color: #fff;
        font-size: 25px;
    }
}

