.article__wrapper {
    padding: 30px 0;
}
.article__title {
    margin: 8px 0 30px;

    font-family: 'MyriadPro-BlackSemiCn';
    text-transform: uppercase;
    color: #e41a1a;
    font-size: 30px;
}
.article__content {
    font-size: 15px;
}