.banner {
    .swiper-pagination-bullet-active {
        background-color: #e41a1a;
    }
    .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    }
    .swiper-button-prev {
        left: 0;
    }
    .swiper-button-next {
        right: 0;
    }
    .swiper-button-prev,
    .swiper-button-next {
        background-image: none;
        background-color: #fff;
        padding-top: 14px;
        height: 70px;
        width: 34px;

        font-size: 36px;
        color: rgb(165, 160, 160);
        text-align: center;
    }
    .swiper-pagination-bullet {
        margin: 0 5px;
        width: 30px;
        height: 3px;
        border-radius: 0;
    }
}

.banner__img {
    position: relative;
    img {
        display: block;
        width: 100%;
    }
    .container {
        position: relative;
        height: 100%;
        @include flex;

        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
    }
}

.banner__text {
    margin-left: -40px;
    padding: 40px 60px;
    max-width: 45%;
    background-color: rgba(#000, 0.5);

    color: #fff;
}

.banner__title {
    display: block;
    font-size: 32px;
    margin: 19px 0;

    font-family: 'Open Sans', sans-serif;
    line-height: 42px;
    font-weight: 300;
    text-transform: uppercase;
}
.banner__excerpt {
    display: block;

    font-size: 15px;
    margin: 18px 0;
    line-height: 1.4;
    color: #fff;
}

.banner__btn {
    display: inline-block;
    padding: 7px 25px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;

    font-family: 'MyriadPro-Light';
    color: #fff;
    @include transition(all .3s ease-in-out);
    &:hover {
        color: #000;
        background-color: #fff;
    }
}