// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
	font-family: 'MyriadPro-Regular';
    border-top: 1px solid #f3f3f3;
	border-bottom: 3px solid #e41a1a;
}
.footer__top {
    padding: 40px 0;
}
.footer__map {
    position: relative;
    overflow: hidden;
}

.footer__logo {
    display: block;
    max-width: 220px;
    @include mediaMaxWidth(768px) {
        max-width: 80%;
        padding: 20px 0 20px;
        margin: 0 auto;

        text-align: center;
    }
}

.footer__label {
	font-family: 'MyriadPro-BlackSemiCn';
	text-transform: uppercase;
	font-size: 15px;
	padding-bottom: 15px;
    @include mediaMaxWidth(480px) {
        font-size: 12px;
    }
    @include mediaMaxWidth(425px) {
        font-size: 16px;
    }
}

.footer__text {
    color: #575757;
    @include mediaMaxWidth(480px) {
        margin-bottom: 25px;
        font-size: 12px;
    }
    @include mediaMaxWidth(425px) {
        font-size: 15px;
    }
}
.footer__textLine {
    .footer__textLine__label {
        font-weight: bold;
    }
    .footer__textLine__label,
    i {
        float: left;
		margin-right: 10px;
		@include mediaMaxWidth(480px) {
			margin-right: 5px;
			font-size: 10px;
		}
		@include mediaMaxWidth(425px) {
			font-size: 13px;
			margin-right: 10px;
		}
	}
	a {
        display: block;
        overflow: hidden;
		color: #575757;
    }
    .footer__textLine__content,
    span {
        display: block;
        overflow: hidden;
    }
}

.footer__bottom {
	padding: 10px 0;
	border-top: 1px solid rgba(#575757, .2);
	
    font-size: 13px;
    color: #575757;
    text-align: center;
    @include mediaMaxWidth(480px) {
        font-size: 12px;
    }
}

.footer__network-social {
    text-align: center;
    margin: 20px;
}
.footer__network-social__item {
    margin: 0 5px;
    font-size: 18px;
}
.footer__hyperlink {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 7px;
    padding: 6px 10px;
    border-radius: 3px;
    background-color: rgba(128, 128, 128, .1);
}