// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@mixin headerColor {
    display: block;
    @include transition(color .3s ease);

    font-family: 'MyriadPro-BlackSemiCn';
    font-size: 18px;
    padding: 30px 0;
    font-weight: 700;
    color: #575757;
    white-space: nowrap;
    text-transform: uppercase;
    &:hover {
        color: #e41a1a;
    }
}

body {
    padding-top: 86px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    &.is-fixed {
        position: fixed;
        opacity: 0;
        @include transform(translateY(-100%));
        .header__top {
            display: none;
        }
        .header__logo {
            margin: 5px 0;
            width: 100px;
        }
        .headerMenu__item a, .headerMenu li a {
            font-size: 13px;
            padding: 15px 0;
        }
        &.is-show {
            opacity: 1 !important;
            @include transform(translateY(0%) !important);

            @include transition(all .3s ease);
        }
    }

    @include mediaMaxWidth(768px) {
        position: fixed;
        border: none;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 1000;
        background-color: #EDEDED;
        .container {
            padding: 10px 15px 10px
        }
    }
}

.header__hotline {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    color: #fff;
    i {
        font-size: 21px;
    }
    span {
        display: inline-block;
        vertical-align: bottom;
        color: #fff;
        margin-left: 2px; 
        font-size: 19px;
    }
}
.header__support {
    padding-top: 5px;
    display: inline-block;
    color: #fff;
    img {
        width: 30px;
        margin-right: 5px;
    }
}
.header__top {
    background-color: #e41a1a;
    color: #fff;
    height: 40px;
}
.header__network-social {
    overflow: hidden;
}
.header__network-social__item {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    padding: 7px 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    &:last-child {
        border-right: none;
    }
    
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.header__logo {
    margin: 10px 0;
    overflow: hidden;
    width: 170px;
    @include mediaMaxWidth(768px) {
        height: 42px;
        max-width: 120px;
        margin: 0;
        img {
            max-height: 100%;
        }
    }
}


.headerMenu {
    margin: 0;
}
.networksocial__item {
    display: inline-block;
    width: 31px;
    height: 31px;
    margin-top: 7px;
    margin-right: 15px;
    border-radius: 50%;
    padding: 8px 0;
    text-align: center;
    &.facebook {
        background-color: #365899;
        color: #fff;
    }
    &.phone {
        background-color: #e41a1a;
        color: #fff;
    }
}
.headerMenu__item,
.headerMenu  li {
    float: left;
    display: block;
    margin: 0 15px;
    a {
        position: relative;
        overflow: hidden;
        @include headerColor;
    }
    &:last-child {
        margin-right: 0;
    }
    &.is-active {
        a {
            color: #e41a1a;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                border-top: 3px solid #e41a1a;
            }
        }
    }
    @include mediaMaxWidth(1024px) { 
        margin: 0 7px;
        a {
            font-size: 12px;
        }
    }
    @include mediaMaxWidth(768px) {
        width: 100%;
        margin: 5px 15px;
        a {
            font-size: 15px;
        }
    }
}
.headerMenu__item.is-active > a,
.headerMenu  li.is-active > a {
    color: #e41a1a;
}
.hotline {
    margin-top: -6px;
    @include mediaMaxWidth(768px) {
        margin-left: 15px;
    }
}
.hotline__label {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 3px;

    font-size: 11px;
    text-transform: uppercase;
    font-family: 'MyriadPro-Light';
}
.hotline__numberPhone {
    display: inline-block;
    vertical-align: bottom;

    color: #e41a1a;
    line-height: 25px;
    margin-bottom: -1px;
    font-size: 25px;
    font-family: 'MyriadPro-BlackSemiCn';
}