.sidebar {
    display: block;
    padding-top: 40px;
    padding-bottom: 100px;
    overflow: hidden;
}

.sidebar__label {
    margin: 0 0 30px;

    font-family: 'MyriadPro-BlackSemiCn';
    font-family: 'MyriadPro-Cond';
    text-transform: uppercase;
    color: #e41a1a;
    font-size: 26px;
}

.category {

}
.category__item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.category__hyperlink {
    display: inline-block;
    @include transition(all .3s ease);

    font-family: 'MyriadPro-BlackSemiCn';
    text-transform: uppercase;
    font-size: 15px;
}

.category__item.is-active .category__hyperlink,
.category__item .category__hyperlink:hover,
.category__item.is-active {
    color: #e41a1a;
}