// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// home banner
.banner {
    @include mediaMaxWidth(768px) {
        margin-top: 62px;
    }
}
// home services
.homeServices__label {
    display: block;
    position: relative;
    margin-left: -3px;
    opacity: .9;

    text-indent: -2px;
    margin-top: 60px;
    font-family: 'MyriadPro-Semibold';
    font-size: 36px;
}
.homeServices__btn {
    display: inline-block;
    margin-top: 23px;
    padding: 9px 0px;
    height: 34px;
    width: 180px;
    border: 1px solid rgba(228, 26, 26, .7);

    font-family: 'MyriadPro-Semibold';
    color: #e41a1a;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    &:hover {
        color: #e41a1a;
    }
}
.homeServices__list {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}
.homeServices__controls {
    position: absolute;
    bottom: 100%;
    margin-bottom: -1px;
    right: 11px;
    overflow: hidden;
    a {
        float: left;
        display: block;
        margin-left: 7px;
        padding: 0px;
        width: 35px;
        height: 35px;
        background-color: #fff;
        border: 1px solid #e41a1a;

        color: #fff;
        text-align: center;
        i {
            font-size: 30px;
            color: #e41a1a;
        }
    }
}
.homeServices__list .servicesItem {
    padding: 0 12px;
    margin-top: 35px;
    > a {
        display: block;
    }
}
.servicesItem__img {
    position: relative;
    img {
        width: 100%;
    }
    &:before {
        display: block;
        content: "\f0c1";
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        @include transform(translate(-50%, -50%));
        @include transition(all .4s ease-in-out);
        z-index: 10;

        font-size: 5px;
        color: #fff;
        font-family: "FontAwesome";
    }
    &:after {
        content: "";
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#000, 0.5);
        z-index: 1;
        @include transition(all .4s ease-in-out);
    }
}
.servicesItem__title {
    display: block;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 7px;
    @include transition(all .3s ease);

    font-family: 'MyriadPro-BlackSemiCn';
    font-size: 23px;
    line-height: 24px;
}
.servicesItem:hover {
    .servicesItem__title {
        color: #e41a1a;
    }
    .servicesItem__img {
        &:after {
            opacity: 1;
        }
        &:before {
            opacity: 1;
            font-size: 24px;
        }
    }
}
.servicesItem__excerpt {
    font-size: 14px;
    opacity: 0.9;
    color: gray;
}
// end home services

// home feature 
.homeFeature {
    position: relative;
    margin-top: 50px;
    overflow: hidden;
    padding: 0;
}
.homeFeature__label {
    display: block;
    position: relative; 
    margin-top: 18px;
    margin-bottom: 35px;

    font-family: 'MyriadPro-Semibold';
    text-align: center;
    font-size: 36px;
}
.homeFeature__wrapper {
    z-index: 100;
}
.homeFeature__box {
    float: left;
    width: 25%;
    height: 40px;
    margin-top: 20px;
    padding: 20px;
    &:nth-child(4n+1){
        clear: both;
    }
    @include mediaMaxWidth(768px) {
        width: 100%;
    }
}
.homeFeature__title {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px 15px;
    background-color: #e41a1a;
    @include transition(all .45s ease-in-out);
    @include transform(translate(-50%, -50%));

    color: #fff;
    font-size: 14px;
    font-family: 'MyriadPro-Semibold';
    white-space: nowrap;
}
.homeFeature__item {
    position: relative;
    float: left;
    width: 25%;
    overflow: hidden;

    img {
        width: 100%;
        @include transition(all .3s ease-in-out);
    }
    &:hover {
        img {
            @include transform(scale(1.1,1.1));
            -webkit-filter: blur(5px) grayscale(20%);
            filter: blur(5px) grayscale(20%);
        }
        .homeFeature__title {
            opacity: 1;
            @include transform(translate(-50%, -50%));
        }
    }
}
.homeFeature__icon {
    margin-right: 10px;
    i {
        font-size: 20px;
    }
}
.homeFeature__particles {
    position: absolute;
    width: 100%;
    height: 100%;
}
// end home feature 

// home news
.homeNews {
    padding-bottom: 50px;
}
.homeNews__label {
    position: relative;
    display: block;
    text-align: center;
    margin: 72px 0 25px 0;

    font-family: 'MyriadPro-Semibold';
    font-size: 36px;
}
.homeNews__btn {
    display: block;
    width: 130px;
    padding: 5px;
    text-align: center;
    margin: 36px auto;
    border: 1px solid gray;
    color: gray;
    @include transition(all .3s ease);

    font-family: 'MyriadPro-Semibold';
    font-size: 13px;   
    opacity: 0.9;
    &:hover {
        color: #e41a1a;
        border: 1px solid #e41a1a;
    }
}
.homeNews__list {
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
}
.homeNews__list .newsThumbnails {
    float: left;
    width: 50%;
    padding: 9px 44px; 

    @include mediaMaxWidth(768px) {
        width: 50%;
        &:nth-child(2n+1) {
            clear: both;
        }
    }
    @include mediaMaxWidth(410px) {
        width: 100%;
        margin-bottom: 10px;
        &:nth-child(n+2) {
            display: none;
        }
    }
}
.newsThumbnails {
    display: block;
    margin-top: 20px;
}
.newsThumbnails:hover .newsThumbnails__title {
    color: #e41a1a;
}
.newsThumbnails__img {
    position: relative;
    float: left;
    width: 130px;
    img {
        width: 100%;
    }
    .newsThumbnails__date {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        padding: 4px 8px;
        font-size: 12px;
        color: #fff;
        z-index: 10;
        background-color: orange;
    }
}
.newsThumbnails__text {
    float: left;
    width: calc(100% - 130px);
    padding-left: 25px;
}

.newsThumbnails__title {
    display: block;
    margin: 0;
    padding-top: 0;
    padding-bottom: 7px;
    opacity: 0.85;
    @include transition(all .3s ease);

    @include mediaMinWidth(768px) {
        height: 60px;
    }

    font-family: 'MyriadPro-Semibold';
    font-size: 18px;
    line-height: 26px;
}

.newsThumbnails__excerpt {
    color: gray;
    @include mediaMinWidth(768px) {
        height: 40px;
    }
}

.homeMap {
    position: relative;
}
.homeMap__img {
    display: block;
    width: 100%;
}
.homeMap__marker {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 54%;
    right: 40%;
    margin-top: 16%;
}

// home partner 
.homePartner {
    padding: 0 0 30px;
}
.homePartner__label {
    position: relative;
    display: block;
    text-align: center;
    margin: 48px 0 12px 0;

    font-family: 'MyriadPro-Semibold';
    font-size: 36px;
}
.homePartner__item {
    display: block;
    text-align: center;
    img {
        max-width: 65%;
    }
}
// end home partner 