.articleThumb {
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
}
.articleThumb__img {
    float: left;
    width: 160px;
    img {
        width: 100%;
    }
}
.articleThumb__text {
    float: left;
    width: calc(100% - 160px);
    padding-left: 15px;
}
.articleThumb__title {
    margin-top: 0;
    margin-bottom: 10px;
    height: 48px;
    overflow: hidden;
    @include mediaMaxWidth(768px) {
        height: auto;
    }
}
.articleThumb__excerpt {
    height: 37px;
    overflow: hidden;

    font-size: 13px;
    @include mediaMaxWidth(768px) {
        height: auto;
    }
}
.articleThumb__viewmore {
    &:hover {
        color: #e41a1a;
    }
}