.serviceRegister {
    padding: 30px 40% 30px 0;
}
.serviceRegister .input-group ,
.serviceRegister .form-control {
    width: 100%;
}
.serviceRegister .input-group {
    margin-bottom: 20px;
}
.serviceRegister .form-group {
    margin: 20px 0 23px;
}
.serviceRegister .btn-default {
    background-color: #e41a1a;
    width: 120px;
    border: none;

    color: #fff;
    &:hover {
        background-color: #e41a1a;
    }
}
.serviceRegister__label {
    margin: 60px 0;

    text-align: center;
    color: #e41a1a;

    span {
        font-family: 'MyriadPro-BlackSemiCn';
        text-transform: uppercase;
        font-size: 26px;
        color: #e41a1a;
    }
}
.register-service__btn {
    display: block;
    width: 150px;
    height: 50px;
    margin-top: 30px;
    padding: 15px 20px;
    background-color: #e41a1a;
    z-index: 1000;

    font-family: 'MyriadPro-Cond';
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    &:hover { 
        color: #fff;
    }
}