// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */

html,
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;

    font-family: 'MyriadPro-Regular';
    font-weight: normal;
    font-size: 14px;
}


/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/**
 * Basic styles for links
 */

a {
    color: inherit;
    text-decoration: none;
}

::selection {
    background-color: #00adef;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        outline: none;
        color: inherit;
    }
}

ul,
li {
    list-style: none;
    list-style-position: inside;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    border: 0;
    line-height: 1;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1170px;
}

.red {
    color: #e41a1a;
}