// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Regular/MyriadPro-Regular.otf') format('opentype'), url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('../fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Semibold/MyriadPro-Semibold.otf') format('opentype'), url('../fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff') format('woff'), url('../fonts/MyriadPro-Semibold/MyriadPro-Semibold.ttf') format('truetype'), url('../fonts/MyriadPro-Semibold/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Light';
    src: url('../fonts/MyriadPro-Light/MyriadPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Light/MyriadPro-Light.otf') format('opentype'), url('../fonts/MyriadPro-Light/MyriadPro-Light.woff') format('woff'), url('../fonts/MyriadPro-Light/MyriadPro-Light.ttf') format('truetype'), url('../fonts/MyriadPro-Light/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Cond';
    src: url('../fonts/MyriadPro-Cond/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Cond/MyriadPro-Cond.otf') format('opentype'), url('../fonts/MyriadPro-Cond/MyriadPro-Cond.woff') format('woff'), url('../fonts/MyriadPro-Cond/MyriadPro-Cond.ttf') format('truetype'), url('../fonts/MyriadPro-Cond/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-BlackSemiCn';
    src: url('../fonts/MyriadPro-BlackSemiCn/MyriadPro-BlackSemiCn.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-BlackSemiCn/MyriadPro-BlackSemiCn.otf') format('opentype'), url('../fonts/MyriadPro-BlackSemiCn/MyriadPro-BlackSemiCn.woff') format('woff'), url('../fonts/MyriadPro-BlackSemiCn/MyriadPro-BlackSemiCn.ttf') format('truetype'), url('../fonts/MyriadPro-BlackSemiCn/MyriadPro-BlackSemiCn.svg#MyriadPro-BlackSemiCn') format('svg');
    font-weight: normal;
    font-style: normal;
}