// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
    @if $self {
        &,
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
    @else {
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
    #{$context} & {
        @content;
    }
}

// on site;
// setup default;
@mixin blockAbsolute($top, $bottom, $left, $right, $zIndex) {
    display: block;
    position: absolute;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
    z-index: $zIndex;
}

@mixin fixedFull {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin blockFixed ($top, $bottom, $left, $right, $zIndex) {
    display: block;
    position: fixed;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
    z-index: $zIndex;
}

@mixin absoluteFull {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin absoluteItemCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}

@mixin backgroundCoverCenter {
    background-size: cover;
    background-position: center center;
}

@mixin boxFlexItemCenter {
    @include flexAlignCenter;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

@mixin flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

@mixin flexAlignCenter {
    @include flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

@mixin flexContentCenter {
    @include flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

@mixin boxShadow($value) {
    -moz-box-shadow: $value;
    -webkit-box-shadow: $value;
    box-shadow: $value;
}

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    transition: $value;
}

@mixin animation($value) {
    -webkit-animation: $value;
    -moz-animation: $value;
    -o-animation: $value;
    -ms-animation: $value;
}

// transform
@mixin transform($value) {
    -webkit-transform: $value;
    -moz-transform: $value;
    transform: $value;
}

@mixin transforOrigin($value) {
    -webkit-transform-origin: $value;
    -moz-transform-origin: $value;
    transform-origin: $value;
}

@mixin borderRadius($value: 20px) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}

@mixin grayscale($value) {
    -webkit-filter: grayscale($value);
    filter: grayscale($value);
}

@mixin circle($width, $color) {
    width: $width;
    background-color: $color;
    @include borderRadius($width/2);
}

@mixin triangle($width, $dir, $color) {
    @if $dir==up {
        border-left: $width solid transparent;
        border-right: $width solid transparent;
        border-bottom: $width solid $color;
    }
    @else if $dir==down {
        border-left: $width solid transparent;
        border-right: $width solid transparent;
        border-top: $width solid $color;
    }
    @else if $dir==right {
        border-top: $width solid transparent;
        border-bottom: $width solid transparent;
        border-left: $width solid $color;
    }
    @else if $dir==left {
        border-top: $width solid transparent;
        border-bottom: $width solid transparent;
        border-right: $width solid $color;
    }
}

@mixin mediaMaxWidth($w_width) {
    @media only screen and (max-width: $w_width) {
        @content;
    }
}

@mixin mediaMinWidth($w_width) {
    @media only screen and (min-width: $w_width) {
        @content;
    }
}

@mixin gridRefer($col, $allCol) {
    width: #{$col/$allCol};
}

@mixin colRefer() {}

.col-3-8 {
    float: left;
    width: 3/8*100%;
}

.col-5-8 {
    float: left;
    width: 5/8*100%;
}