
@font-face {
  font-family: 'MyriadPro-BlackSemiCn';
  src: url('MyriadPro-BlackSemiCn.eot?#iefix') format('embedded-opentype'),  url('MyriadPro-BlackSemiCn.otf')  format('opentype'),
	     url('MyriadPro-BlackSemiCn.woff') format('woff'), url('MyriadPro-BlackSemiCn.ttf')  format('truetype'), url('MyriadPro-BlackSemiCn.svg#MyriadPro-BlackSemiCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
